[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ptpython = "*"

[packages]
tconnectsync = {path = "."}
requests = "*"
bs4 = "*"
arrow = "*"
lxml = "*"
python-dotenv = "*"
requests-mock = "*"

[scripts]
tconnectsync = "python3 main.py"
test = "python3 -m unittest discover -vv"
