[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ptpython = "*"

[packages]
tconnectsync = {path = "."}
bs4 = "*"
arrow = "==1.2.3"
lxml = "*"
python-dotenv = "*"
requests-mock = "*"
pysocks = "*"
urllib3 = "==1.26.6"
requests = {extras = ["socks"], version = "==2.31.0"}
requests-oidc = "*"
pyjwt = "*"
cryptography = "*"
dataclasses-json = "*"
cffi = ">=1.15.1"

[scripts]
tconnectsync = "python3 main.py"
test = "python3 -m unittest discover -vv"
build_events = "bash -c 'cd tconnectsync/eventparser && python3 build_events.py > events.py'"
